html{
  background-image: url('bg.jpg');
  background-position: center center;
  background-size: cover;
}

.main-container{
  position: relative;
  top: 125px;
  text-align: -webkit-center;
}

.flex-container{

  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  position: relative;
  height:500px; width:500px;
  clear: none;
  transition: 0.3s;

}

.box{
  background-color: white;
}

.options{
  float: left;
  position: relative;
  left: 150px;
}

.option{

  font-family: 'Pacifico', cursive;
  width: 150px;
  height: 50px;
  border: 3px black solid;
  position: relative;
  left: 100px;
  line-height: 50px;
  font-size: 20px;
  transition: 0.3s;
}
.resolution{

  top: 100px;
}

.eraser{

  top: 150px;
}

.reset{

  top: 200px;
}

.colors{

  float: right;
  position: relative;
  right: 150px;
  height: auto;
  width: auto;
}

.button{

  font-family: 'Pacifico', cursive;
  width: 150px;
  height: 50px;
  border: 3px black solid;
  right: 100px;
  position: relative;
  line-height: 50px;
  font-size: 20px;
  transition: 0.3s;
}

.rainbow{

  top: 20px;
}

.red{

  top: 70px;
}

.blue{

  top: 120px;
}

.green{

  top: 160px;
}

.black{
  top: 210px;
}

.heading{

  font-family: 'Pacifico', cursive;
  font-size: 50px;
  position: absolute;
  left: 618px;
  top: 25px;
}

.option:hover{
  transform: scale(1.3);
  box-shadow: 3px 3px 50px yellow;
}

.button:hover{
  transform: scale(1.3);
  box-shadow: 3px 3px 50px yellow;
}

.flex-container:hover{
  box-shadow: 3px 3px 50px yellow;
}
